<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<body>


	<div class="container">
		<!-- Navbar -->
		<nav th:replace="fragments/navbar :: navbar(active='category')" />
		<!-- end navbar -->
		<h2 class="display-5 text-center head">Category Area</h2>

		<div class="row justify-content-md-center">
			<!-- <div class="alert alert-success alert-dismissible fade show"
				role="alert" th:if="${success}">
				[[${success}]]
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="alert alert-warning alert-dismissible fade show"
				role="alert" th:if="${deleted}">
				[[${deleted}]]
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div> -->
			<div class="col-sm-10" align="center">
				<div class="wrapper">
					<div align="left">
						<h4 class="display-5">
							<i class="bi bi-tags-fill mr-3 icon"></i>Category Lists
						</h4>
					</div>
					<div align="right">
						<a th:href="@{/new-category}" class="btn btn-success mb-3 shadow">+
							Add Category</a>
					</div>
				</div>
				<table class="table table-stripped table-sm">
					<thead class="thead-dark">
						<tr>

							<th scope="col">Category Name<a
								th:href="@{'/categoryPage/' + ${pageNumber} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
									<i
									th:class="${sortDir == 'asc' ? 'bi bi-sort-alpha-down text-success ml-2' : 'bi bi-sort-alpha-up text-success ml-2'}"></i>
							</a>
							</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="category: ${categoryList}">

							<td><i class="bi bi-tags-fill mr-3 text-success icon"></i>[[${category.name}]]</td>
							<td><a th:href="@{/editCategory/} + ${category.id}"
								class="btn btn-sm btn-primary mb-3"><i
									class="bi bi-pencil-square mr-2 icon"></i>Edit</a> <a
								th:href="@{/deleteCategory/} + ${category.id}"
								class="btn btn-sm btn-danger mb-3"><i
									class="bi bi-trash mr-2 icon"></i>Delete</a></td>
						</tr>
					</tbody>
				</table>
				<!--  pagination-->
				<div th:replace="fragments/pagination::pagination(path='/categoryPage/')" />
				<!--  end pagination-->

			</div>
		</div>
</body>
</html>