<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Create New Category</title>

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

<script src="webjars/jquery/3.6.0/jquery.slim.min.js"></script>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>


	<div class="container pb-4">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
			<a class="navbar-brand" href="#">CMS_</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/}"><i
							class="bi bi-people mr-2 icon"></i>Customer</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/product}"><i
							class="bi bi-people mr-2 icon"></i>Product</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/category}"><i class="bi bi-tags-fill mr-2 icon"></i>Category</a></li>

				</ul>
			</div>
		</nav>
		<!-- end navbar -->
		<h2 th:if="${category.id == null}" class="display-4 text-center head">Create Category Form</h2>
		<h2 th:unless="${category.id == null}" class="display-4 text-center head">Update Category Form</h2>

		<div class="row justify-content-md-center">

			<div class="col-sm-6">
				<!-- form -->
				<form th:action="@{/save-category}" th:object="${category}"
					method="post">
					<div class="form-group">

						<input type="hidden" th:value="${category.id}" th:field="*{id}" /> <label>Category
							Name</label> <input th:field="*{name}" type="text" class="form-control"
							placeholder="category_name">
						<!-- <p th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}" class="text-danger mt-1"></p> -->
					</div>

					<button th:if="${category.id == null}" type="submit" class="btn btn-success">Add Category</button>
					<button th:unless="${category.id == null}" type="submit" class="btn btn-success">Update Category</button>
					<a th:href="@{/category}" class="btn btn-warning">Cancel</a>
				</form>

			</div>
		</div>
		</div>
</body>
</html>