<html
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Create New Customer</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>


	<div class="container pb-4">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
			<a class="navbar-brand" href="#">CMS_</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}"><i
							class="bi bi-people mr-2 icon"></i>Customer</a></li>

				</ul>
			</div>
		</nav>
		<!-- end navbar -->
		<h2 class="display-4 text-center head">Customer Form</h2>

		<div class="row justify-content-md-center">

			<div class="col-sm-6">
				<!-- form -->
				<form th:action="@{/save-customer}" th:object="${customer}"
					method="post">
					<div class="form-group">

						<input type="hidden" th:field="*{id}" /> <label>First
							Name</label> <input th:field="*{firstName}" type="text"
							th:class="${#fields.hasErrors('firstName') ? 'form-control field_error' : 'form-control'}" placeholder="first_name">
						<p th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}" class="text-danger mt-1"></p>
					</div>
					<div class="form-group">

						<label>LastName</label> <input th:field="*{lastName}" type="text"
							th:class="${#fields.hasErrors('lastName') ? 'form-control field_error' : 'form-control'}" placeholder="last_name">
						<p th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}" class="text-danger mt-1"></p>
					</div>
					<div class="form-group">

						<label>Email</label> <input type="text" th:field="*{email}"
							placeholder="email" th:class="${#fields.hasErrors('email') ? 'form-control field_error' : 'form-control'}">
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="text-danger mt-1"></p>
							
							
							<p th:if="${existedEmail}"
							class="text-danger mt-1">Email Already in the Database</p>
					</div>

					<button type="submit" class="btn btn-success">Submit</button>
					<a th:href="@{/}" class="btn btn-warning">Cancel</a>
				</form>

			</div>
		</div>
</body>
</html>