<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<body>


	<div class="container pb-4">
		<!-- Navbar -->
		<nav th:replace="fragments/navbar :: navbar(active='product')" />
		<!-- end navbar -->
		<h2 th:if="${product.id == null}" class="display-4 text-center head">Create Product Form</h2>
		<h2 th:unless="${product.id == null}" class="display-4 text-center head">Update Product Form</h2>

		<div class="row justify-content-md-center">

			<div class="col-sm-6">
				<!-- form -->
				<form th:action="@{/save-product}" th:object="${product}"
					method="post">
					<div class="form-group">

						<input type="hidden" th:value="${product.id}" th:field="*{id}" /> 
						<label>Product Name</label> 
							<input th:field="*{productName}" type="text"
							th:class="${#fields.hasErrors('productName') ? 'form-control field_error' : 'form-control'}" placeholder="product_name">
						<p th:if="${#fields.hasErrors('productName')}"
							th:errors="*{productName}" class="text-danger mt-1"></p>
					</div>
					<div class="form-group">

						<label>Product Price</label> 
						
						<input th:field="*{price}"
							type="number" th:class="${#fields.hasErrors('price') ? 'form-control field_error' : 'form-control'}" placeholder="enter price"
						>
						<p th:if="${#fields.hasErrors('price')}"
							th:errors="*{price}" class="text-danger mt-1"></p>
					</div>
					<div class="form-group">

						<label>Product Quantity</label> <input type="number"
							th:field="*{quantity}" placeholder="quantity"
							th:class="${#fields.hasErrors('quantity') ? 'form-control field_error' : 'form-control'}">
							<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
							class="text-danger mt-1"></p>

						<!-- if you want to check id product already exist -->
						<!-- 							<p th:if="${existedProduct}"
							class="text-danger mt-1">Product Already in the Database</p> -->
					</div>

					<div class="form-group">
						<label for="exampleFormControlSelect2">Select Product
							Category</label> 
							<select th:field="*{category}" class="form-control">
							<option th:each="cat: ${categoryList}" th:text="${cat.name}" th:value="${cat.id}"></option>
							
						</select>
					</div>

					<button th:if="${product.id == null}" type="submit" class="btn btn-success">Add product</button>
					<button th:unless="${product.id == null}" type="submit" class="btn btn-success">Update product</button>
					<a th:href="@{/product}" class="btn btn-warning">Cancel</a>
				</form>

			</div>
		</div>
</body>
</html>