<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Create New Product</title>

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

<script src="webjars/jquery/3.6.0/jquery.slim.min.js"></script>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>


	<div class="container pb-4">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
			<a class="navbar-brand" href="#">CMS_</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/}"><i
							class="bi bi-people mr-2 icon"></i>Customer</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/product}"><i class="bi bi-tags-fill mr-2 icon"></i>Product</a></li>
						<li class="nav-item"><a class="nav-link"
						th:href="@{/category}"><i class="bi bi-tags-fill mr-2 icon"></i>Category</a></li>

				</ul>
			</div>
		</nav>
		<!-- end navbar -->
		<h2 th:if="${product.id == null}" class="display-4 text-center head">Create Product Form</h2>
		<h2 th:unless="${product.id == null}" class="display-4 text-center head">Update Product Form</h2>

		<div class="row justify-content-md-center">

			<div class="col-sm-6">
				<!-- form -->
				<form th:action="@{/save-product}" th:object="${product}"
					method="post">
					<div class="form-group">

						<input type="hidden" th:value="${product.id}" th:field="*{id}" /> <label>Product
							Name</label> <input th:field="*{productName}" type="text"
							class="form-control" placeholder="product_name">
						<!-- <p th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}" class="text-danger mt-1"></p> -->
					</div>
					<div class="form-group">

						<label>Product Price</label> <input th:field="*{price}"
							type="number" class="form-control" placeholder="enter price"
							step="any">
						<!-- <p th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}" class="text-danger mt-1"></p> -->
					</div>
					<div class="form-group">

						<label>Product Quantity</label> <input type="number"
							th:field="*{quantity}" placeholder="quantity"
							class="form-control">
						<!-- 	<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="text-danger mt-1"></p> -->

						<!-- if you want to check id product already exist -->
						<!-- 							<p th:if="${existedProduct}"
							class="text-danger mt-1">Product Already in the Database</p> -->
					</div>

					<div class="form-group">
						<label for="exampleFormControlSelect2">Select Product
							Category</label> 
							<select th:field="*{category}" class="form-control">
							<option th:each="cat: ${categoryList}" th:text="${cat.name}" th:value="${cat.id}"></option>
							
						</select>
					</div>

					<button th:if="${product.id == null}" type="submit" class="btn btn-success">Add product</button>
					<button th:unless="${product.id == null}" type="submit" class="btn btn-success">Update product</button>
					<a th:href="@{/product}" class="btn btn-warning">Cancel</a>
				</form>

			</div>
		</div>
</body>
</html>