<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<body>


	<div class="container">
		<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar(active='product')" />
		<!-- end navbar -->
		<h2 class="display-5 text-center head">Product Area</h2>

		<div class="row justify-content-md-center">
			<!-- <div class="alert alert-success alert-dismissible fade show"
				role="alert" th:if="${success}">
				[[${success}]]
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="alert alert-warning alert-dismissible fade show"
				role="alert" th:if="${deleted}">
				[[${deleted}]]
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div> -->
			<div class="col-sm-10" align="center">
				<div class="wrapper">
					<div align="left">
						<h4 class="display-5">
							<i class="bi bi-people-fill mr-3 icon"></i>Product Lists
						</h4>
					</div>
					<div align="right">
						<a th:href="@{/new-product}" class="btn btn-success mb-3 shadow">+
							Add Product</a>
					</div>
				</div>
				<table class="table table-stripped table-sm" style="padding:'3px'">
					<thead class="thead-dark">
						<tr>

							<th scope="col">Product Name <a
								th:href="@{'/productPage/' + ${pageNumber} + '?sortField=productName&sortDir=' + ${reverseSortDir}}">
									<i
									th:class="${sortDir == 'asc' ? 'bi bi-sort-alpha-down text-success ml-2' : 'bi bi-sort-alpha-up text-success ml-2'}"></i>
							</a>
							</th>
							<th scope="col">Product Price<a
								th:href="@{'/productPage/' + ${pageNumber} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
									<i
									th:class="${sortDir == 'asc' ? 'bi bi-sort-alpha-down text-success ml-2' : 'bi bi-sort-alpha-up text-success ml-2'}"></i>
							</a>
							</th>
							<th>Quantity<a
								th:href="@{'/productPage/' + ${pageNumber} + '?sortField=quantity&sortDir=' + ${reverseSortDir}}">
									<i
									th:class="${sortDir == 'asc' ? 'bi bi-sort-alpha-down text-success ml-2' : 'bi bi-sort-alpha-up text-success ml-2'}"></i>
							</a>
							</th>
							<th scope="col">Category<a
								th:href="@{'/productPage/' + ${pageNumber} + '?sortField=category&sortDir=' + ${reverseSortDir}}">
									<i
									th:class="${sortDir == 'asc' ? 'bi bi-sort-alpha-down text-success ml-2' : 'bi bi-sort-alpha-up text-success ml-2'}"></i>
							</a>
							</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product: ${productList}">

							<td><i class="bi bi-tags-fill text-success mr-3"></i>[[${product.productName}]]</td>
							<td th:text="'$ ' + ${product.price}"></td>
							<td th:text="${product.quantity}"></td>
							<td th:text="${product.category.name}"></td>
							<td><a th:href="@{/editProduct/} + ${product.id}"
								class="btn btn-sm btn-primary mb-3"><i
									class="bi bi-pencil-square mr-2 icon"></i>Edit</a> <a
								th:href="@{/deleteProduct/} + ${product.id}"
								class="btn btn-sm btn-danger mb-3"><i
									class="bi bi-trash mr-2 icon"></i>Delete</a></td>
						</tr>
					</tbody>
				</table>
				<!--  pagination-->
				<div th:replace="fragments/pagination::pagination(path='/productPage/')" />
				<!--  end pagination-->

			</div>
		</div>
</body>
</html>